[submodule "core/rs/sqlite-rs-embedded"]
  path = core/rs/sqlite-rs-embedded
	url = git@github.com:vlcn-io/sqlite-rs-embedded.git
[submodule "deps/emsdk"]
	path = deps/emsdk
	url = https://github.com/emscripten-core/emsdk.git
